firewallMode = BridgeInner
keyStorePassword = "{{ bridge_keystore_password }}"
sslKeystore = "{{ bridge_configuration.directories.root }}/certificates/nodeUnitedSslKeystore.jks"
trustStorePassword = "{{ network_map_truststore_password }}"
trustStoreFile = "{{ bridge_configuration.directories.root }}/network-truststore.jks"
outboundConfig {
    artemisBrokerAddress = "{{ messaging_server_address }}"

    artemisSSLConfiguration {
        keyStorePassword = "{{artemis.keystore_password}}"
        trustStorePassword = "{{artemis.truststore_password}}"
        sslKeystore = "{{ bridge_configuration.directories.root }}/certificates/artemis/artemis.jks"
        trustStoreFile = "{{ bridge_configuration.directories.root }}/certificates/artemis/artemis-truststore.jks"
    }
}
bridgeInnerConfig {
    floatAddresses = ["{{ groups.corda_firewall_float[0] }}:{{ float.internal_port }}"]
    expectedCertificateSubject = "CN=float,O={{ my_legal_name.organization }},L=Sao Paulo,C=BR"
    tunnelSSLConfiguration {
        keyStorePassword = "{{ tunnel.keystore_password }}"
        trustStorePassword = "{{ tunnel.truststore_password }}"
        sslKeystore = "{{ bridge_configuration.directories.root }}/certificates/tunnel/bridge.jks"
        trustStoreFile = "{{ bridge_configuration.directories.root }}/certificates/tunnel/tunnel-truststore.jks"
    keyStorePrivateKeyPassword = "{{ tunnel.private_keystore_password }}"
    }
}

networkParametersPath = network-parameters
